@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .text-12xl {
    font-size: 12rem;
    line-height: 1;
  }
}